# 기본 텍스트 파일 처리
* text=auto

# 유니티 관련 파일 줄바꿈 통일
*.unity     merge=unityyamlmerge eol=lf
*.prefab    merge=unityyamlmerge eol=lf
*.asset     merge=unityyamlmerge eol=lf
*.anim      merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf

# 코드 파일
*.cs        text diff=csharp
*.shader    text
*.json      text
*.xml       text

# 바이너리 파일은 diff 끔
*.png       binary
*.ttf       binary
*.fbx       binary